*, body {
    margin: 0;
    padding: 0; 
}
body {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Merriweather, serif;
    font-size: 24px;
    background: hsl(263, 4%, 94%);
    color: hsl(249, 4%, 22%);

    
}
h1 {
    margin-bottom: 15px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 48px;
}
.timer {
    padding: 20px;
    border-radius: 5px;
    font-size: 48px;
    font-weight: bold;
    /* background: hsl(249, 8%, 22%);
    color: hsl(263, 4%, 94%); */
}
.time-item {
    padding:  3px 20px;
    border-radius: 10px;
    background: hsl(249, 4%, 22%);
    color: hsl(263, 4%, 94%);
    box-shadow: 0px 15px 35px hsl(249, 8%, 22%, 0.12), 0px 5px 15px hsl(249, 8%, 22%, 0.06);
}
