/*---grid layout example---*/
*, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*.grid-container {
	display: grid;
	height: 100vh;
	grid-template-columns: minmax(100px, 150px) 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: "nav main" "nav main" "nav footer";
}*/

h1 {
    text-align: center;
}
.grid-container {
    display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 100vh;
	grid-template-areas: "left main right";
    overflow-y: scroll;
}
.left {
    grid-area: left;
    display: grid;
    justify-items: center;
    align-items: start;
}
.left a {
    align-self: start;
    text-decoration: none;
    color: #000;
}
.left a:hover {
    color: #999
}
.main {
    grid-area: main;
    display: flex;
    /*justify-content: center;*/
    align-content: center;
    flex-direction: column;

}
.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
a {
    text-align: center;
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #999;
}
p {
    text-align: center;
}

.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
}
img {
  width: 250px;
  height: auto;
  position: relative;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #999;
  overflow: hidden;
  
}
.description {
  position: absolute;
  z-index: 9999;
  text-shadow: 1px 1px 10px#000;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease;
}
.box:hover .description {
  opacity: 0;
}
.color-blur {
  filter: grayscale(0) blur(0);
  transform: scale(100%);
  transition: all 0.5s ease;
}
.color-blur:hover {
  filter: grayscale(1) blur(2px);
  transform: scale(1.025);
}
.sepia {
  filter: sepia(0);
  transform: scale(1);
  transition: all 0.5s ease;
}
.sepia:hover {
  filter: sepia(1);
  transform: scale(1.025);
}
.sat {
  filter: saturate(1);
  transform: scale (1);
  transition: all 0.5s ease;
}
.sat:hover {
  filter: saturate(10);
  transform: scale(1.025);
}
.brightness {
  filter: brightness(1);
  transform: scale (1);
  transition: all 0.5s ease;
}
.brightness:hover {
  filter: brightness(1.5);
  transform: scale(1.025);
}
.invert {
  filter: invert(0);
  transform: scale (1);
  transition: all 0.5s ease;
}
.invert:hover {
  filter: invert(10);
  transform: scale(1.025);
}