/* Skip Link */

.skip-link {
    clip: rect(0,0,0,0);
    background-color: light-dark(var(--gray-200), var(--gray-800));
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
}

.skip-link:focus {
    clip: unset;
    padding: 1rem;
    height: auto;
    width: auto;
    position: fixed;
    z-index: 1; 
}

/* Navigation */

.nav-list {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav-list > ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    column-gap: 1.25rem;
    row-gap: 0.75rem;
    margin: 0;
    list-style: "";
}

.secondary-nav {
    font-weight: normal;
    padding: 0;
}

/* Header logo */

.header-logo-wrapper {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    display: flex;
    position: relative;
    --header-logo-first-color: light-dark(#fff, var(--gray-900));
}

.header-logo-wrapper:hover, .header-logo-wrapper:focus {
    --header-logo-first-color: var(--link-text);
    --header-logo-second-color: light-dark(#fff, var(--gray-900));
}

.header-logo-wrapper::before {
    content: '';
    height: var(--header-logo-spacing);
    width: var(--header-logo-spacing);
    background-color: var(--header-logo-bg);
    position: absolute;
    z-index: -1;
    transition: transform 0.1s ease-out;
}

.header-logo-wrapper:hover::before, .header-logo-wrapper:focus::before {
    transform: translateX(var(--header-logo-spacing));
}

.first-initial, .second-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-logo-spacing);
    width: var(--header-logo-spacing);
    transition: color 0.1s ease-out;
}

.first-initial {
    color: var(--header-logo-first-color);
}

.second-initial {
    color: var(--header-logo-second-color);
}


/* Blog List */

.blog-list {
    padding-inline-start: 0;
    padding-block-start: 2rem;
    list-style: "";
}

.blog-list li {
    --flow-space: 1.5em;
}

.blog-list p {
    --flow-space: 0.5em;
}


.blog-entry-date {
    font-size: smaller;
    color: var(--color-text);
    border-block-start: 1.5px solid var(--color-accent-secondary);
    padding-block: 0.5rem;
}

.home-subheading {
    font-size: var(--text-base);
}

/* Note List */

.note-list {
    padding-inline-start: 0;
    padding-block-start: 2rem;
    list-style: "";
}

.note-list li, .note-list .note {
    --flow-space: 1.5em;
    background-color: var(--color-background);
    padding: 2rem; 
    margin-inline: -2rem;
}

.note-list h2, .note-list h1 {
    font-size: var(--text-md);
    text-wrap: unset;
}

/* Footer Wrapper */

.footer-wrapper {
    display: flex; 
    justify-content: space-between;
    gap: 1rem;
}

.copyright {
    flex-shrink: 0;
}