.container {
    max-width: min(45rem, 100% - 4rem);
    margin-inline: auto;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

/* .flow a {
    text-decoration-color: var(--link-text-secondary);
} */

p {
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--color-text);
}

ul, ol {
    color: var(--color-text);
}

.post-header {
    margin-block-end: 3rem;
    --flow-space: 0.75em;
}

blockquote, .callout {
    padding: 1rem;
    border-inline-start: var(--border-width) solid var(--border-accent);
    background-color: var(--color-background);
}

blockquote > * + * {
    margin-block-start: var(--flow-space, 1em);
}

summary {
    padding: 0.5rem 1rem;
    background-color: var(--color-background);
    border: var(--border-width) solid var(--border-accent);
    border-radius: 5px;
}

details[open] summary {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-block-end: none;
}

.details-wrapper {
    padding: 1rem;
    background-color: var(--color-background);
    border: var(--border-width) solid var(--border-accent);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}