.container {

    --full: minmax(2rem, 1fr);
    --breakout: minmax(0, 2rem);
    --feature: minmax(0, 10rem);
    --content: min(45rem, 100% - 4rem);

    display: grid;
    grid-template-columns:
        [full-start] var(--full) [feature-start] var(--feature) [breakout-start] var(--breakout) [content-start] var(--content) [content-end] var(--breakout) [breakout-end] var(--feature) [feature-end] var(--full) [full-end];
}

.container>* {
    grid-column: content;
}

.breakout {
    grid-column: breakout;
}

.feature {
    grid-column: feature;
}

.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

/* .flow a {
    text-decoration-color: var(--link-text-secondary);
} */

p {
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--color-text);
}

ul,
ol {
    color: var(--color-text);
}

.post-header {
    margin-block-end: 3rem;
    --flow-space: 0.75em;
}

blockquote,
.callout {
    padding: 1rem;
    border-inline-start: var(--border-width) solid var(--border-accent);
    background-color: var(--color-background);
}

blockquote>*+* {
    margin-block-start: var(--flow-space, 1em);
}

summary {
    padding: 1rem;
    background-color: var(--color-background);
    /* border: var(--border-width) solid var(--border-accent); */
    border-radius: 5px;
}

details[open] summary {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-block-end: none;
}

.details-wrapper {
    position: relative;
    padding: 1rem;
    background-color: var(--color-background);
    /* border-block-start: calc(var(--border-width) / 1.5) solid var(--border-accent); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.details-wrapper::before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 2rem);
    height: calc(var(--border-width) * 1);
    background-color: var(--border-accent-secondary);
    top: calc(var(--border-width) / -2);

}

/* Table wrapper */
[role="region"][aria-labelledby][tabindex="0"] {
    --flow-space: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    text-align: left;
    font-weight: 700;
    font-size: var(--text-md);
}

th {
    text-align: left;
    border-block-end: 2px solid var(--border-accent);
}

th,
td,
caption {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
}

tr:nth-child(even) {
    background-color: var(--color-secondary);
}

tr[data-status="read" i] {
    --link-text: var(--success-text);
    --color-accent: var(--success-text);
    background-color: var(--success-background);
    color: var(--success-text);
}

tr[data-status="reading" i] {
    --link-text: var(--warning-text);
    --color-accent: var(--warning-text);
    background-color: var(--warning-background);
    color: var(--warning-text);
}

@media screen and (max-width: 650px) {
    table {
        --table-row-spacing: 1rem;
    }

    caption {
        background-color: var(--color-background);
    }

    thead {
        display: none;
    }

    tr {
        border-block-end: calc(var(--border-width) / 2) solid var(--color-accent);
    }

    td {
        display: flex;
        flex-direction: column;
    }

    /* td:empty {
        display: none;
    } */

    td:first-child {
        padding-block-start: var(--table-row-spacing);
    }

    td:is(:last-child, :has( + td:empty))  {
        padding-block-end: var(--table-row-spacing);
    }

    td::before {
        content: attr(data-column);
        font-weight: 900;
    }
}