:root {

    color-scheme: light dark;


    /* Define base colors */
    --gray-text: oklch(33.54% 0.00708 297.319);
    --gray-100: oklch(96.696% 0.00298 264.792);
    --gray-200: oklch(92.758% 0.00592 264.656);
    --gray-300: oklch(87.168% 0.00944 258.479);
    --gray-400: oklch(71.4% 0.02059 263.019);
    --gray-500: oklch(55.102% 0.02343 264.389);
    --gray-600: oklch(44.611% 0.02636 256.837);
    --gray-700: oklch(37.671% 0.03059 259.759);
    --gray-800: oklch(26.738% 0.03489 264.786);
    --gray-900: oklch(21.009% 0.03179 264.678);
    --blue-100: oklch(98.415% 0.00352 248.585);
    --blue-300: oklch(64.688% 0.07513 257.174);
    --blue-700: oklch(38.335% 0.09137 257.382);
    --blue-text: oklch(29.249% 0.06559 257.051);

    --base-text: light-dark(var(--blue-text), var(--gray-300));
    --color-accent: light-dark(var(--blue-300), var(--gray-500));
    --color-accent-secondary: light-dark(var(--gray-400), var(--color-accent));
    --color-background: light-dark(var(--blue-100), var(--gray-800));
    --color-tertiary: light-dark(var(--gray-600), var(--gray-300));
    --color-text: light-dark(var(--gray-600), var(--base-text));


    /* Define fluid type font sizes */
    --text-base: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --text-md: clamp(1.41rem, calc(1.35rem + 0.27vw), 1.56rem);
    --text-lg: clamp(1.76rem, calc(1.69rem + 0.34vw), 1.95rem);
    --text-xl: clamp(2.20rem, calc(2.11rem + 0.42vw), 2.44rem);
    --text-2xl: clamp(2.75rem, calc(2.64rem + 0.53vw), 3.05rem);
    --text-3xl: clamp(3.43rem, calc(3.30rem + 0.66vw), 3.82rem);
    --text-4xl: clamp(4.29rem, calc(4.13rem + 0.83vw), 4.77rem);

    /* Define font families */
    --font-base: Figtree, 'Tahoma Fallback', sans-serif; 


    /* Header logo Variables */

    --header-logo-spacing: 2rem;
    --header-logo-bg: var(--link-text);

    /* Nested Variables */

    --border-accent: var(--color-accent);
    --border-width: 3px;

    --heading-color: var(--gray-500);

    --link-text: light-dark(var(--blue-text), var(--gray-300));
    /* --link-text-secondary: light-dark(var(--color-accent), var(--gray-500)); */

}