/*---grid layout example---*/
*, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*.grid-container {
	display: grid;
	height: 100vh;
	grid-template-columns: minmax(100px, 150px) 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: "nav main" "nav main" "nav footer";
}*/
.grid-container {
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "nav" "main" "footer";
}
.main {
	overflow-y: initial;
}
.nav ul {
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav li {
	text-align: center;
	padding: 5px;
	display: list-item;
}
.left-navigation {
	grid-area: nav;
	background-color: #52364E;
	color: #fff;
	padding-top: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "title" "nav-center" "bottom";
}


.logo img {
    max-width: 60px;
}
.left-navigation .nav {
	grid-area: nav-center;
    align-self: center;
    display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "logo" "links";
	text-align: left; 
}
.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}
.links {
    grid-area: links;
    justify-self: center;
    align-self: center;
}
.links a {
    text-decoration: none;
    color: #fff;
}
.links a:hover {
    color: #999;
}
.nav ul {
	list-style: none;
	margin-left: 0;
}
.nav img {
    max-width: 60px;
}
.main {
	grid-area: main;
	background-color: #fff;
}
.main ul {
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}
.main li {
	background: lightgrey;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.2em;
	border-radius: 5px;
	text-align: left;
}
.main li p {
	margin-left: 20px;
}
.main h1 {
    text-align: center;
    margin-top: 20px;
}
.footer {
	grid-area: footer;
	background-color: #f2f2f2;
	padding: 10px;
}
.center {
	text-align: center;
}
.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px 10px 10px 20px;
}
.flex-wrapper img {
  width: 250px;
  height: auto;
  position: relative;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background: #999;
  overflow: hidden;
  
}
.description {
  position: absolute;
  z-index: 9999;
  text-shadow: 1px 1px 10px#000;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease;
}
.box:hover .description {
  opacity: 0;
}
.color-blur {
  filter: grayscale(0) blur(0);
  transform: scale(100%);
  transition: all 0.5s ease;
}
.color-blur:hover {
  filter: grayscale(1) blur(2px);
  transform: scale(1.025);
}
.sepia {
  filter: sepia(0);
  transform: scale(1);
  transition: all 0.5s ease;
}
.sepia:hover {
  filter: sepia(1);
  transform: scale(1.025);
}
.sat {
  filter: saturate(1);
  transform: scale (1);
  transition: all 0.5s ease;
}
.sat:hover {
  filter: saturate(10);
  transform: scale(1.025);
}
.brightness {
  filter: brightness(1);
  transform: scale (1);
  transition: all 0.5s ease;
}
.brightness:hover {
  filter: brightness(1.5);
  transform: scale(1.025);
}
.invert {
  filter: invert(0);
  transform: scale (1);
  transition: all 0.5s ease;
}
.invert:hover {
  filter: invert(10);
  transform: scale(1.025);
}
@media screen and (min-width: 500px) {
	/*.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "nav" "main" "footer";
	}
	.main {
		overflow-y: initial;
	}
	.nav li {
		text-align: center;
		padding: 5px;
		display: list-item;
	}*/
    .grid-container {
		display: grid;
		height: 100vh;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "nav" "main" "footer";

	}
    .nav {
        justify-self: center;
    }
	.nav li {
		display: inline;
	}
	.main {
		overflow-y: initial;
	}
    .main h1 {
        text-align: left;
        margin-left: 30px;
    }
    .left-navigation .nav {
        display: grid;
        justify-self: start;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        grid-template-areas: "logo links" ;
    }
    .logo {
        justify-self: start;
        padding-bottom: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .links {
    }
}
@media screen and (min-width: 800px) {
	/*.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: "nav" "main" "footer";
	}
	.nav li {
	}*/
	.grid-container {
		display: grid;
		/*height: 100vh;*/
		grid-template-columns: minmax(100px, 150px) 1fr;
		grid-template-rows: 1fr auto;
		grid-template-areas: "nav main" "nav main" "nav footer";
	}
    .left-navigation .nav {
        
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "logo" "links";
        text-align: left; 
    }
    .flex-wrapper {
        justify-content: flex-start;
        margin-left: 30px;
    }
    .logo {
        align-self: end;
    }
    .links{
        align-self: start;
    }
	.nav li {
		display: list-item;
		text-align: left;
	}
	.main {
		overflow-y: scroll;
	}
}