---
layout: layouts/base.njk
title: This Is Not the Page You're Looking For
permalink: 404.html
description: This page doesn't exist or hasn't been created yet.
---

<main id="main" class="container flow" style="text-align: center;">
    <div style="color: var(--gray-600); font-size: var(--text-4xl); font-weight: 900; display: block; line-height: 0.25; margin-block-start: 0.75em">404</div>
    <h1>{{title}}</h1>
    <p>This page doesn't exist or hasn't been created yet.</p>
</main>