---
layout: layouts/base.njk
title: Colophon
description: How this site was built.  
---

<main id="main" class="container flow">
    <h1>{{title}} <span class="home-subheading">(noun)</span></h1>
    <p class="callout">: an inscription at the end of a book or manuscript usually with facts about its production</p>
    <p>For the people that like to know these things, this site is:</p>
    <ul>
        <li>built with <a href="https://www.11ty.dev/">Eleventy</a></li>
        <li>set in the <a href="https://www.erikdkennedy.com/projects/figtree.html">Figtree</a> typeface</li>
        <li>hosted on GitHub Pages</li>
    </ul>
</main>