---
layout: layouts/base.njk
title: RSS Feeds
description: Fancy an RSS feed?
date: 2000-01-01
draft: true
---

<main id="main" class="container flow">
    <h1>{{title}}</h1>
    <p>{{description}}</p>

    <p>Follow my writing using any of the following urls into your favorite RSS reader:</p>
    <ul>
        <li><a href="/feed.xml">All</a> - all my writing</li>
        <li><a href="/blog.xml">Blog</a> - my main blog posts</li>
        <li><a href="/notes.xml">Notes</a> - random thoughts not long enough for a blog post</li>
    </ul>
</main>