---
layout: layouts/single-page.njk
title: Gifts
description: Gifts
date: 2026-10-10
draft: true
---
<p>Don't know what to get me? Here are some ideas in no particular order:</p>
<div>
    <details>
        <summary>Clothing</summary>
        <div class="details-wrapper">
            <ul>
                <li>I don't need any more sweaters. Size small <a
                        href="https://www.llbean.com/llb/shop/128949?page=mens-katahdin-iron-works-sweatshirt-crewneck-mens-regular&amp;bc=12-26-907&amp;feat=907-GN3&amp;csp=f&amp;attrValue_0=1704&amp;pos=4">charcoal
                        heather</a>, <a
                        href="https://www.llbean.com/llb/shop/127375?page=mens-beans-classic-raggwool-crew-sweater-birdseye-mens-regular&amp;bc=12-26-594&amp;feat=594-GN3&amp;csp=f&amp;attrValue_0=44596&amp;pos=9">classic
                        navy</a></li>
                <li><a href="https://ashanderie.com/products/khaki-washed-stretch-chino?variant=46937196724522">Khaki
                        chinos 28W 28L</a></li>
                <li><a
                        href="https://www.rei.com/c/base-layer-bottoms?ir=category%3Abase-layers&amp;r=category%3Abase-layers%7Cbase-layer-bottoms%3Bgender%3AMen%27s%3Bsize%3ASmall%3Bunderwear-weight%3AMidweight%7CHeavyweight&amp;sort=min-price">Midweight
                        or heavyweight baselayer bottoms in small</a>
                </li>
            </ul>
        </div>
    </details>
    <details>
        <summary>Vinyl Records</summary>
        <div class="details-wrapper">
            <ul>
                <li>
                    <p>Suburbs - Arcade Fire</p>
                </li>
                <li>
                    <p>North Americana - Leif Vollebekk</p>
                </li>
            </ul>
        </div>
    </details>
    <details>
        <summary>CDs</summary>
        <div class="details-wrapper">
            <p>Arcade Fire</p>
            <ul>
                <li><a href="https://www.discogs.com/master/5410-Arcade-Fire-Neon-Bible">Neon Bible</a></li>
            </ul>
            <p>Bon Iver</p>
            <ul>
                <li><a href="https://www.discogs.com/master/345153-Bon-Iver-Bon-Iver-Bon-Iver">Bon Iver</a></li>
            </ul>
            <p>Death Cab for Cutie</p>
            <ul>
                <li>
                    <p><a href="https://www.discogs.com/master/815401-Death-Cab-For-Cutie-Kintsugi">Kintsugi</a></p>
                </li>
                <li>
                    <p><a href="https://www.discogs.com/master/339684-Death-Cab-For-Cutie-Codes-And-Keys">Codes and
                            Keys</a></p>
                </li>
                <li>
                    <p><a href="https://www.discogs.com/master/3562-Death-Cab-For-Cutie-Narrow-Stairs">Narrow Stairs</a>
                    </p>
                </li>
                <li>
                    <p><a
                            href="https://www.discogs.com/master/3528-Death-Cab-For-Cutie-Transatlanticism">Transatlanticism</a>
                    </p>
                </li>
                <li>
                    <p><a href="https://www.discogs.com/master/3546-Death-Cab-For-Cutie-Plans">Plans</a></p>
                </li>
            </ul>
            <p>Jamiroquai</p>
            <ul>
                <li><a href="https://www.discogs.com/master/69956-Jamiroquai-Travelling-Without-Moving">Travelling
                        Without Moving</a></li>
            </ul>
            <p>John Mayer</p>
            <ul>
                <li>
                    <p><a href="https://www.discogs.com/master/443931-John-Mayer-Born-And-Raised">Born and Raised</a>
                    </p>
                </li>
                <li>
                    <p><a href="https://www.discogs.com/master/586053-John-Mayer-Paradise-Valley">Paradise Valley</a>
                    </p>
                </li>
            </ul>
            <p>Lief Vollebekk</p>
            <ul>
                <li><a href="https://www.discogs.com/master/660227-Leif-Vollebekk-North-Americana">North Americana</a>
                </li>
            </ul>
            <p>Live</p>
            <ul>
                <li><a href="https://www.discogs.com/master/65591-Live-Throwing-Copper">Throwing Copper</a></li>
            </ul>
            <p>Nick Drake</p>
            <ul>
                <li><a href="https://www.discogs.com/master/13933-Nick-Drake-Pink-Moon">Pink Moon</a></li>
            </ul>
            <p>Oasis</p>
            <ul>
                <li><a href="https://www.discogs.com/master/52220-Oasis-Whats-The-Story-Morning-Glory">(What's the
                        Story) Morning Glory</a></li>
            </ul>
            <p>Third Eye Blind</p>
            <ul>
                <li>
                    <p><a href="https://www.discogs.com/master/127907-Third-Eye-Blind-Third-Eye-Blind">Third Eye
                            Blind</a></p>
                </li>
                <li>
                    <p><a href="https://www.discogs.com/master/269170-Third-Eye-Blind-Blue">Blue</a></p>
                </li>
            </ul>
            <p>Tom Misch</p>
            <ul>
                <li><a href="https://www.discogs.com/master/1335101-Tom-Misch-Geography">Geography</a></li>
            </ul>
            <p>TV On the Radio</p>
            <ul>
                <li><a href="https://www.discogs.com/master/43214-TV-On-The-Radio-Dear-Science">Dear Science</a>
                </li>
            </ul>
        </div>
    </details>
    <details>
        <summary>Bookbinding tools and supplies</summary>
        <div class="details-wrapper">
            <ul>
                <li><a href="https://www.peacheytools.com/shop/5x5nqm0lkgxpx38l451v7gnf7zocz5">Derlin bone folder</a>
                </li>
                <li>Decent calipers (The amazon ones are apparently bad) or some kind of dial thickness gauge that
                    measures in mm
                </li>
            </ul>
        </div>
    </details>
    <details>
        <summary>Other</summary>
        <div class="details-wrapper">
            <ul>
                <li><a
                        href="https://www.communityplaythings.com/products/play/block-play/unit-blocks/introductory-set-unit-blocks?v=F151">Unit
                        blocks</a> if you're feeling fancy</li>
                <li><a href="https://gcioutdoor.com/products/bi-fold-slim-event-chair">Low lawn chair</a></li>
                <li>Workout/exercise mat</li>
                <li><a
                        href="https://www.vevor.com/ultrasonic-cleaner-c_11064/6l-ultrasonic-vinyl-record-cleaner-cleaning-machine-complete-w-drying-rack-p_010265133877">Vevor
                        ultrasonic record cleaner</a></li>
                <li><a href="https://www.locklaces.com/collections/shop-all/products/flat-laces">Flat Laces no-tie
                        shoelaces</a> in white</li>
                <li>Reading things
                    <ul>
                        <li><a
                                href="https://goodmadebetter.com/collections/bookwarden/products/bookwarden?variant=46017920073983">Bookwarden</a>
                            and <a
                                href="https://goodmadebetter.com/collections/bookwarden/products/bookwarden-large">Bookwarden
                                Large</a> - large in addition to the standard size, because standard wouldn't fit the
                            size books Brandon Sanderson likes to write.</li>
                        <li>Brodart Fold-On Lo-Luster Roll 10&quot; from <a
                                href="https://manausbooks.com/collections/fold-on-non-archival/products/fold-on-lo-luster-rolls-10?variant=54392551239">Manaus
                                Books</a> or <a
                                href="https://www.amazon.com/Brodart-Fold-ARCHIVAL-Jacket-Covers/dp/B0035R28LE/">Amazon</a>
                        </li>
                    </ul>
                </li>
            </ul>
    </details>
</div>