---
layout: layouts/base.njk
title: Prodigious
description: Playground of half baked ideas.
---
<main id="main" class="container flow">
    <h1 class="home-heading">Prodigious <span class="home-subheading">(adj.)</span></h1>
    <p class="callout">: causing amazement or wonder</p>
        <h2>goofy things i've done:</h2>
        <ul>
            <li><a href="https://demos.tedmehl.me">demos</a></li>
            <li><a href="https://js.tedmehl.me">js academy</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/notes">notes</a></li>
        </ul>
    <details class="flow">
        <summary>why prodigious?</summary>
        <div class="details-wrapper flow">
            <p>One of my favorite movies is October Sky. Quentin, a main character, often says "Prodigious!" when something amazing happens and for some reason that has stuck with me.</p>

            <p>If you haven't watched the movie before, you should. It's a look into a small coal town in West Virginia and a group of friends dreaming about things beyond it. Based on the memoir of NASA engineer Homer Hickam.</p>
        </div>
    </details>
</main>