---
layout: layouts/base.njk
title: Notes
description: Random things I thought to write down. 
---

<main id="main" class="container flow">
    <h1>{{title}}</h1>
    <p>Random things I thought to write down.</p>

    <ul class="note-list flow">
        {% for post in collections.notes | reverse %}
        <li class="flow">
            <h2><a href="{{post.url}}">{{post.data.title}}</a></h2>
            {{post.content | safe }}
            <p class="blog-entry-date"><em>thoughtfully noted on <time datetime="{{ post.date | readableDate(" yyyy-LL-dd") }}">{{ post.date | readableDate("LLLL dd, yyyy") }}</time></em></p>
        </li>
        {% endfor %}
    </ul>

</main>