---
layout: layouts/base.njk
---
<main id="main" class="container flow">

    <header class="post-header flow">
        <h1>{{title}}</h1>
        <p>
            <time datetime="{{ page.date | readableDate("yyyy-LL-dd") }}">{{ page.date | readableDate("LLLL dd, yyyy") }}</time>
        </p>
    </header>

    {{ content | safe }}

</main>