name: Eleventy Build
on: 
  push: 
    branches: 
      - master
  schedule: 
    - cron: "0 11 * * *"

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Check git version
        run: git --version
      - name: Build
        uses: cjerrington/actions-eleventy@master
        with:
          install_dependencies: true
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: public 
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
