name: Eleventy Build
on: 
  push: 
    branches: 
      - master
  schedule: 
    - cron: "0 11 * * *"

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    permissions: 
        contents: write
    concurrency: 
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@master
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
            node-version: "20"

      - run: git --version
      - run: npm install
      - run: npx @11ty/eleventy

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: public 
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
